<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="app-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if client_signed_in? %>
          <p>Logged in as <strong><%= current_client.email %></strong>.</p>
          <%= link_to 'Edit profile', edit_client_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_client_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_client_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_client_session_path, :class => 'navbar-link'  %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>


