<nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="app-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if client_signed_in? %>
          <p>Logged in as <strong><%= current_client.email %></strong>.</p>
          <%= link_to 'Edit profile', edit_client_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_client_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
          <%= link_to "Sign up", new_client_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_client_session_path, :class => 'navbar-link'  %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>


